.nav-custom {        
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;    
    min-width: 1000px;
    border-color: white;
    position: relative;
}

.nav-item-custom {
    background-color: rgba(255, 255, 255, 0.219);
}


a {
    color: white;
}