.scrolling-wrapper{
    background-color: white;
	overflow-x: auto;
    -ms-overflow-style: none;  /* hides scrollbar in IE and Edge */
    scrollbar-width: none;  /* hides scrollbar in Firefox */
}

.custom-container {
    background-color: white;
    border-radius: 2px;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none; /* hides scrollbar in Chrome, Safari and Opera */
}

.card-block{
    width: 300px;
	height: 250px;
	background-color: white;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 10px;
    border-color: black;
}

.card-block:hover{
    transform: translateY(-5px);
    background-color:#FFB81C;

}

.image-card {
    width: 150px;
    height: 150px;
}

.money{
    color: #003087;
    font-weight: bold;
}