.navbar-custom {
    background-color: #0072CE;
    color: white;
}

.navbar-brand-custom {
    color: white;
    font-weight: bold;
}

.navbar-nav-custom {
    color: white;
    padding-right: 10px;
}

.navbar-item {
    padding-right: 10px;
}

.navbar-item-active {
    padding-right: 10px;
    color: white;
    font-weight: bold;
}
